<body>
<div class="menu-area">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a href="#">Add new...</a>
      <ul class="drop-down">
        <li><a routerLink="/theater" routerLinkActive="active">Theater</a></li>
        <li><a routerLink="/cinema" routerLinkActive="active">Cinema</a></li>
        <li><a routerLink="/concert" routerLinkActive="active">Concert</a></li>
      </ul>
    </li>
   <!-- <li><a routerLink="/allEvents" routerLinkActive="active">All events</a></li> -->
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
</body>

